
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

body {
  width: 768px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  font-size: 0;
}

.nav-left {
  float: left;
  width: 315px;
}

.nav-center {
  float: left;
  text-align: center;
  width: 138px;
  font-size: 0;
  position: relative;
}

.nav-right {
  float: right;
  width: 315px;
  text-align: right;
  position: relative;
}

.header-nav a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.nav-left a {
  padding: 20px 15px 20px 45px;
}

.nav-right a {
  padding: 20px 45px 20px 15px;
}

.nav-center::after {
  content: "";
  position: absolute;
  left: 0;
  top: -89px;
  background-color: #81b3d2;
  display: block;
  width: 138px;
  height: 138px;
  border-radius: 10px;
  transform: rotate(45deg);
}

.header-logo-wrap {
  position: relative;
  z-index: 10;
}

.header-logo img {
  width: 67px;
  height: 56px;
}

.big-logo {
  width: 768px;
  height: 513px;
}

.features {
  text-align: center;
}

.features-content {
  padding-top: 15px;
  padding-bottom: 40px;
}

.features-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 35px 0;
  padding-left: 160px;
  padding-right: 160px;
}

.features-item {
  float: left;
  width: 256px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  padding: 45px 40px 33px 40px;
}

.features-img {
  font-size: 0;
}

.features-img .features-item {
  background-color: #81b3d2;
  color: #ffffff;
}

.features-item .features-name {
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 25px;
}

.features-item i {
  display: block;
  font-style: normal;
  margin-bottom: 25px;
}

.features-item-bottom {
  float: right;
}

.features-icon {
  padding-top: 50px;
  padding-bottom: 20px;
}

.features-icon .features-item {
  padding-top: 100px;
}

.features-item-home {
  background-image: url("../img/icon-home.png");
  background-repeat: no-repeat;
  background-position: top;
}

.features-item-food {
  background-image: url("../img/icon-food.png");
  background-repeat: no-repeat;
  background-position: top;
}

.features-item-present {
  background-image: url("../img/icon-present.png");
  background-repeat: no-repeat;
  background-position: top;
}

.features-text {
  background-color: #eeeeee;
}

.interest .features-title {
  font-size: 30px;
}

.interest p {
  margin-bottom: 45px;
  line-height: 21px;
}

.btn {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.search-btn {
  padding: 30px 140px;
  background-color: #766357;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  border: none;
  background-color: #503e33;
  color: rgba(255, 225, 225, 0.3);
}
